.text1{
    font-family: Verdana;
    text-align: center;
    color: green;
}
.button1{
    font-family: Verdana;
    color: green;
    text-decoration: none;
    background-color: yellow;
    border: groove;
    border-width: 1px;
}