<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact info</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/index.css' ) }}">
</head>

<body>
    <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="news">News</a>
          <a href="contact">Contact</a>
          <a href="about">About</a>
          <a href="text/new"> New form </a>
          <a href="display-text"> Display text </a>
          <a href="register">Register</a>
    </div>
</body>

<body>
    <h1>To contact, you can choose:</h1>
        <ul>
            <li>Email: example@gmail.com</li>
            <li>Call an assistant: +380 00 000 00 00</li>
            <li>Or text on our viber: +380 00 000 00 00</li>
        </ul>
</body>

</html>