<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' ) }}">
</head>

<body>
    <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="news">News</a>
          <a href="contact">Contact</a>
          <a href="about">About</a>
          <a href="text/new"> New form </a>
          <a href="display-text"> Display text </a>
          <a href="register">Register</a>
    </div>
</body>

<body>
  <h1>Example new</h1>
  <p>Some info</p>
</body>

<body>
    <div class="nothing-new">
        <p>Wait for new!</p>
    </div>
</body>
</html>